@import "./../../reset.css";

.videoLi {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
  padding: 14px 14px;
  margin-bottom: 6px;

  /* background-color: wheat; */
  background-color: #fff;
  transition: all 0.5s cubic-bezier(0.33, 0.78, 0.41, 1);
}
.videoLi:hover,
.videoLi:focus {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.5s cubic-bezier(0.33, 0.78, 0.41, 1);
  box-shadow: 0 2px 10px 1px rgb(64 60 67 / 34%);
  z-index: 10;
  border-radius: 10px;
}

.video {
  width: 100%;
  margin-bottom: 8px;
}

.info {
  width: 100%;
  box-sizing: border-box;
  /* padding: 8px 0; */
}
.info h4 {
  font-size: 0.9rem;
  margin-bottom: 2px;
  color: #5f6368;
}

.info p {
  font-size: 0.8rem;
  color: #70757a;
}

@media screen and (min-width: 768px) {
  .videoLi {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .videoLi {
    width: 33.33%;
  }
}
@media screen and (min-width: 1280px) {
  .videoLi {
    width: 25%;
  }
}
