@import "./../../reset.css";

.header {
  width: 100%;
  /* position: relative; */
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
  padding: 0 8px;

  z-index: 10;

  background-color: #fff;
}
.headerSection {
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px 0;
  box-sizing: border-box;
}
.logo {
  min-width: 120px;
  width: 120px;
  height: 40px;
  margin-bottom: 14px;

  background-color: red;
}
.inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px 0 20px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 48px;
  box-sizing: border-box;
}
.searchInput {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
}
.searchBtn {
  min-width: 76px;
  width: 10%;
  height: 60%;
  color: #80868b;
  border-left: 2px solid #ebebeb;
  outline: none;
}

/* shortCut */
.shortCut {
  position: fixed;
  /* display: block; */
  /* width: 100vw; */
  /* height: 100vh; */
  top: 0;
  right: 0;
  outline: none;
  z-index: 10;
}
.shortCutBtn {
  position: absolute;
  position: fixed;
  top: 14px;
  right: 14px;
  width: 40px;
  height: 40px;
  font-size: 2.4rem;
  outline: none;

  border-radius: 50%;
  color: #dcdcdc;
  z-index: 10;
}
.shortCutBtn:hover,
.shortCutBtn:focus {
  color: rgb(89, 89, 89);
}

.shortCutBox {
  display: none;

  position: fixed;
  width: 70vw;
  height: 100vh;
  top: 0px;
  right: 0px;

  padding: 68px 0 0 0;
  background-color: #fff;
  box-shadow: -200px 0px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

.shortCutUl {
  width: 100%;
  height: 100%;

  padding: 0 20px;
  outline: none;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.shortCutLi {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;

  border-bottom: 1px solid #ebebeb;
}

.liImg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid #ebebeb;
}

.shortCutLi p {
  font-size: 0.8rem;
}

.rotation {
  animation: rotation;
  animation-delay: 0;
  animation-duration: 1s;
  animation-direction: inherit;
  animation-timing-function: cubic-bezier(0.33, 0.78, 0.41, 1);
  animation-fill-mode: forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
    color: #dcdcdc;
  }
  100% {
    transform: rotate(135deg);
    color: rgb(89, 89, 89);
  }
}
