@import "./../../reset.css";

.header {
  width: 100%;
  /* position: relative; */
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
  padding: 0 8px;

  z-index: 10;

  background-color: #fff;
}
.headerSection {
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px 0;
  box-sizing: border-box;
}
.logo {
  min-width: 120px;
  width: 120px;
  height: 40px;
  margin-bottom: 14px;
  object-fit: cover;

  /* background-color: red; */
}
.logo:hover,
.logo:focus {
  cursor: pointer;
}

.buttonImg {
  height: 100%;
  /* padding: 0.5em 0.2em; */
}

.inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px 0 20px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 48px;
  box-sizing: border-box;
}
.searchInput {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
}
.searchBtn {
  min-width: 76px;
  width: 10%;
  height: 60%;
  color: #80868b;
  border-left: 2px solid #ebebeb;
  outline: none;
  transition: all 0.5s cubic-bezier(0.33, 0.78, 0.41, 1);
}
.searchBtn:hover,
.searchBtn:focus {
  color: #515659;
}

/* shortCut */
.shortCut {
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
  z-index: 10;
  transition: all 0.5s cubic-bezier(0.33, 0.78, 0.41, 1);
}
.shortCutBtn {
  position: fixed;
  top: 14px;
  right: 14px;
  width: 40px;
  height: 40px;
  font-size: 2.4rem;
  outline: none;
  box-sizing: border-box;

  border-radius: 50%;
  color: #dcdcdc;
  z-index: 10;

  transition: all 0.5s cubic-bezier(0.33, 0.78, 0.41, 1);
}

.shortCutBtn:hover,
.shortCutBtn:focus {
  color: rgb(89, 89, 89);
}

.shortCutBox {
  visibility: hidden;
  position: fixed;
  width: 70vw;
  height: 100vh;
  top: 0px;
  right: 0px;

  transform: translateX(70vw);

  padding: 68px 0 0 0;
  background-color: #fff;
  transition: all 0.5s cubic-bezier(0.33, 0.78, 0.41, 1);
  opacity: 0;
  outline: none;
}

.shortCutUl {
  width: 100%;
  height: 100%;

  padding: 0 10px;
  outline: none;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.shortCutLi {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 8px;
  box-sizing: border-box;

  border-bottom: 1px solid #ebebeb;
  transform: rotate(0);
}

.shortCutLi:hover,
.shortCutLi:focus {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s cubic-bezier(0.33, 0.78, 0.41, 1);
  box-shadow: 0 1px 3px 0 rgb(64 60 67 / 26%);
  border-radius: 50px;
  z-index: 10;
}

.liImg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid #ebebeb;
}

.shortCutLi p {
  font-size: 0.8rem;
}

.rotation {
  transform: rotate(135deg);
  animation: btnOpacity;
}
@keyframes btnOpacity {
  0% {
    color: #dcdcdc;
  }
  100% {
    color: rgb(89, 89, 89);
  }
}

.showBox {
  visibility: visible;
  transform: translateX(0vw);
  opacity: 1;
  box-shadow: -300px 0px 0 1400px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .shortCutBox {
    width: 40vw;
  }
}

@media screen and (min-width: 1024px) {
  /* .header {
  } */

  .headerSection {
    padding: 22px 0;
    flex-wrap: nowrap;
    align-items: center;
  }

  .logo {
    margin: 0;
  }
  .inputSection {
    width: 80%;
    margin-right: 40px;
  }
  .shortCutBtn {
    top: 22px;
    right: 18px;
  }
  .shortCutBox {
    width: 30vw;
  }
}

@media screen and (min-width: 1280px) {
  .shortCutBox {
    width: 20vw;
  }
}
