@import "./../../reset.css";

.videoUl {
  width: 100%;
  margin-top: 122px;
  display: flex;
  flex-wrap: wrap;

  /* margin-top: 136px; */
  overflow: hidden;
  box-sizing: border-box;

  /* background-color: greenyellow; */
  background-color: #ebebeb;
}

@media screen and (min-width: 1024px) {
  .videoUl {
    margin-top: 88px;
  }
}
