@import "./../../reset.css";

.videoUl {
  width: 100%;

  /* padding: 14px 0; */
  margin-top: 122px;
  /* margin-top: 136px; */
  overflow: hidden;
  box-sizing: border-box;

  /* background-color: greenyellow; */
  background-color: #ebebeb;
}
